.details {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.client-info-container {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
}

.client-info p {
    margin: 0;
}

.client-info h3 {
    margin-bottom: 0;
    margin-top: 5px;
}

.break-container {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 10px;
}

.break-container p {
    font-size: 18px;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;

}

.break-container p:hover {
    background-color: blue;
}

.time-container p {
    background-color: lightgray;
    padding: 10px 10px;
    border-radius: 5px;

}

.btn-activity {
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
}