.header {
    display: flex;
    align-items: center;
    height: 80px;
    color: whitesmoke;
    background-color: black;
    padding-left: 120px;

}

.header img {
    height: 50px;
    margin-right: 10px;
}

.header-text {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;

}